<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home - GoRestConn</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center" >
  <div class="text-primary">
    <h1 class="header">Welcome to home page</h1>
    <hr>
  </div>
  <div class="text-secondary">
  </div>

  <div>
    <h3><a class="btn btn-primary" role="button" href="/users">Users List</a></h3>
    <h3><a class="btn btn-primary" role="button" href="/register_user">Add User</a></h3>
    <h3><a class="btn btn-primary" role="button" href="/register">Add All Users</a></h3>
  </div>
</div>

</body>
</html>